<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>중복 참여</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="page-wrapper">
    <div class="content-wrapper">
      <img src="{{ url_for('static', filename='img/nodle.png') }}" alt="노들 이미지" class="top-image">
      <div class="container">
      <h2>이미 참여하셨습니다.</h2>
      <p>오늘은 이 부스에서 이미 참여 기록이 있습니다.</p>
    </div>
  </div>
  </div>
</body>
</html>
