<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>만족도 조사</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header class="top-header">
    <div class="header-content">DMU</div>
  </header>
<div class="page-wrapper">
  <div class="content-wrapper">
    <img src="{{ url_for('static', filename='img/nodle.png') }}" alt="노들 이미지" class="top-image">
    <div class="container">
      <h2>이 부스에 만족하셨나요?</h2>
      <form id="feedbackForm" method="POST" action="/submit" onsubmit="return validateForm()">
        <input type="hidden" name="uuid" value="{{ uuid }}">
        <input type="hidden" name="area" value="{{ area }}">
        <input type="hidden" name="identity" value="{{ identity }}">

        <div class="rating">
          <input type="radio" id="star5" name="rating" value="5" /><label for="star5">★</label>
          <input type="radio" id="star4" name="rating" value="4" /><label for="star4">★</label>
          <input type="radio" id="star3" name="rating" value="3" /><label for="star3">★</label>
          <input type="radio" id="star2" name="rating" value="2" /><label for="star2">★</label>
          <input type="radio" id="star1" name="rating" value="1" /><label for="star1">★</label>
        </div>

        <div class="submit-button">
          <button type="submit">제출</button>
        </div>
        <script>
          function validateForm() {
            const ratingSelected = document.querySelector('input[name="rating"]:checked');

            // rating이 선택되지 않았으면 alert 표시 후 제출 중단
            if (!ratingSelected) {
              alert("별점을 선택해주세요.");
              return false;
            }

            return true;
          }
        </script>
      </form>
    </div>
  </div>
</div>
<footer class="footer">
  <p>Developed by
    <a href="https://github.com/1anminJ" target="_blank">@1anminJ</a> &amp;
    <a href="https://github.com/ysw789" target="_blank">@ysw789</a> &amp;
    <a href="https://github.com/JungwooJoon" target="_blank">@JungwooJoon</a>
  </p>
</footer>

</body>
</html>
