<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>만족도 조사</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header class="top-header">
    <div class="header-content">DMU</div>
  </header>
  <div class="page-wrapper">
    <div class="content-wrapper">
      <img src="{{ url_for('static', filename='img/nodle.png') }}" alt="노들 이미지" class="top-image">
      <div class="container">
      <h2>이 부스에 만족하셨습니까?</h2>
      <form id="feedbackForm" method="POST" action="/submit">
          <input type="hidden" name="uuid" value="{{ uuid }}">
          <input type="hidden" name="area" value="{{ area }}">
          <input type="hidden" name="identity" value="{{ identity }}">
          <input type="hidden" name="satisfaction" id="satisfaction">

          <div class="button-group">
              <button type="button" onclick="submitFeedback(true)">예</button>
              <button type="button" class="button-no" onclick="submitFeedback(false)">아니요</button>
          </div>

      </form>
    </div>
    </div>
  </div>

    <script>
        function submitFeedback(value) {
          document.getElementById("satisfaction").value = value;
          document.getElementById("feedbackForm").submit();
        }
    </script>
<footer class="footer">
  <p>Developed by
    <a href="https://github.com/1anminJ" target="_blank">@1anminJ</a> &amp;
    <a href="https://github.com/ysw789" target="_blank">@ysw789</a> &amp;
    <a href="https://github.com/JungwooJoon" target="_blank">@JungwooJoon</a>
  </p>
</footer>

</body>
</html>
