<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>잘못된 접근</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header class="top-header">
    <div class="header-content">DMU</div>
  </header>
  <div class="page-wrapper">
    <div class="content-wrapper">
      <img src="{{ url_for('static', filename='img/nodle.png') }}" alt="노들 이미지" class="top-image">
      <div class="container">
        <h2>올바른 접근 방식이 아닙니다</h2>
        <p>QR 코드를 통해 접속해주세요.</p>
      </div>
    </div>
  </div>
  <footer class="footer">
    <p>Developed by
      <a href="https://github.com/1anminJ" target="_blank">@1anminJ</a> &amp;
      <a href="https://github.com/ysw789" target="_blank">@ysw789</a> &amp;
      <a href="https://github.com/JungwooJoon" target="_blank">@JungwooJoon</a>
    </p>
  </footer>
</body>
</html>
