<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>참여 완료</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header class="top-header">
    <div class="header-content">DMU</div>
  </header>
  <div class="page-wrapper">
    <div class="content-wrapper">
      <img src="{{ url_for('static', filename='img/nodle.png') }}" alt="노들 이미지" class="top-image">
      <div class="container">
      <h2>참여해주셔서 감사합니다!</h2>
      <p>소중한 의견이 정상적으로 저장되었습니다.</p>
    </div>
  </div>
  </div>
</body>
</html>
